<Project>
  <!--
    Copy this file to Developer.props (which is .gitignored) and tweak to match your machine.
  -->
  <PropertyGroup>
    <!-- <GameInstallDir>D:\Games\SteamLibrary\steamapps\common\Super Battle Golf</GameInstallDir> -->
    <!-- <R2ProfileDir>$(APPDATA)\r2modmanPlus-local\SuperBattleGolf\profiles\Dev</R2ProfileDir> -->
    <!-- <SkipDeploy>true</SkipDeploy> -->
  </PropertyGroup>
</Project>
